.input {
  display: flex;
  font-weight: 500;
  font-size: 50px;
  color: rgb(199, 199, 199);
  height: 120px;
  width: 95%;
  justify-content: flex-end;
  align-self: center;
}

.texto {
  overflow: auto;
}

.display-none{
  display: none;
}