html {
  background-color: #000000;
}

.App {
  padding-top: 10%;
  align-items: center;
  font-family: Lato, sans-serif;
}

.contenedor-calculadora {
  margin-inline: auto;
  width: 400px;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}